.fiche-maincont {
    width: auto;
    height: auto;
    background-color: var(--second-bg-color);
    margin: 70px 70px 100px 70px;
    padding: 30px;
}

.cont-inline {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: auto;
    height: auto;
    max-height: 600px;
    overflow: hidden;
}

.fiche-img {
    width: 50%;
    height: auto;
}

.fiche-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 600px;
}

.fiche-contenu {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: space-between;
}

.fiche-contenu h3 {
    margin: 0px;
    background-color: var(--main-color);
    color: white;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
}

.fiche-rating {
    text-align: center;
    margin-top: 10px;
}

.fiche-contenu p {
    text-align: justify;
}

.fiche-avis {
    width: auto;
    background-color: var(--main-bg-color);
    padding: 20px;
    text-align: justify;
}


/******************************* RESPONSIVE TABLETTE ************************/

@media (max-width: 1024px) {
    
}





/******************************** RESPONSIVE MOBILE *********************/


@media (max-width: 767.98px) {
    
}