@font-face {
    font-family: 'talldark';
    src:url('/talldark.woff') format('woff'),
        url('talldark.woff2') format('woff2'),
        url('talldark.svg#talldark') format('svg'),
        url('talldark.eot'),
        url('talldark.eot?#iefix') format('embedded-opentype'),
        url('talldark.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: calibri;
    font-weight: lighter;
    color: white;
}

:root {
    --main-color: #e5303d;
    --main-bg-color: #242424;
    --second-bg-color: #151515;
    --light-grey: #c7ccdb;
}

h1, h2, h3, h4, h5 {
    font-family: 'talldark';
    font-size: 30px;
    color: var(--main-color);
}

body {
    background-color: var(--main-bg-color);
    margin: 0px;
}






/******************************* HEADER ********************************/
header {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    background-color: var(--light-grey);
}

.sitename {
    width: 70%;
    height: 130px;
    text-align: right;
    line-height: 25px;
}

.sitename h1 {
    font-size: 45px;
    margin: 0px;
    margin-top: 32px;
}

.sitename h2 {
    font-size: 100px;
    color: var(--main-bg-color);
    margin: 0px;
}

.sitelogo {
    width: 30%;
    height: 100%;
    text-align: left;
}

.sitelogo img {
    height: 150px;
    margin: 10px;
}



/******************************* MAIN CONTAINER ********************************/





/******************************* FOOTER ********************************/

footer {
    text-align: center;
}

footer h3 {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
}

.textfooter {
    margin-top: -20px;
    margin-bottom: -15px;
    font-size: 13px;
    line-height: 15px;
}